<div class="home-page-container">
  <div class="home-page-header">
    <h1>Welcome to our shop</h1><br>
    <p>Sign up to get started! </p>
    <p class="fs-8 fst-italic">If you already have credentials, please <%= link_to "log in", root_path(resource_name) %></p>
  </div>

  <div class="signup">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label_html: { class: "visually-hidden" },
                    placeholder: "Email address",
                    input_html: { autocomplete: "email" } %>

        <%= f.input :password,
                    required: true,
                    label_html: { class: "visually-hidden" },
                    placeholder: "Password",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    required: true,
                    label_html: { class: "visually-hidden" },
                    placeholder: "Password confirmation",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions mt-3">
        <%= f.button :submit, "Sign up", class: "btn-primary fw-bold w-100" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
