<% if chats.any? %>
  <div class="list-group">
    <% chats.each_with_index do |chat| %>
      <div class="list-group-item list-group-item-action flex-column align-items-start mb-2
                  <%= ( params[:id] && chat.id == params[:id].to_i ) ? 'bg-primary' : '' %>">
        <div class="d-flex w-100 justify-content-between">
          <%= link_to chat_path(chat) do %>
            <h5 class="<%= class_names(
              'mb-1',
              'text-white': ( params[:id] && chat.id == params[:id].to_i ),
              'text-dark': !( params[:id] && chat.id == params[:id].to_i )
              ) %>" >
              <%= chat.title %>
            </h5>
          <% end %>
          <small>
            <%= link_to chat_path(chat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "text-danger" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </small>
        </div>
        <ul>
        <% chat.products.each do |product| %>
          <li><%= link_to product.name, product_path(product), class: (( params[:id] && chat.id == params[:id].to_i ) ? "text-light" : "text-secondary") %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% else %>
  There are no chats yet.
<% end %>
