<% if chats.any? %>
  <div class="list-group">
    <% chats.each_with_index do |chat| %>
      <% if params[:id] && chat.id == params[:id].to_i %>
        <div class="list-group-item list-group-item-action flex-column align-items-start mb-2 bg-primary">
          <%= link_to chat_path(chat) do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-white"><%= chat.title %></h5>
              <small>3 days ago</small>
            </div>
          <% end %>
          <ul>
          <% chat.products.each do |product| %>
            <li><%= link_to product.name, product_path(product), class: "text-light" %></li>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
          <%= link_to chat_path(chat) do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-dark"><%= chat.title %></h5>
              <small>3 days ago</small>
            </div>
          <% end %>
          <ul>
          <% chat.products.each do |product| %>
            <li><%= link_to product.name, product_path(product), class: "text-secondary" %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  There are no chats yet.
<% end %>
