<div class="container my-5">
  <!-- HEADER TABS -->
  <div class="d-flex justify-content-center align-items-center mb-4">
    <!-- OUR PRODUCTS (centered, main tab) -->
    <div class="text-start me-5">
    <%= link_to products_path do %>
      <h1 class="fw-bold mb-0">Our Products</h1>
      <p class="text-muted mb-0">Order now!</p>
    <% end %>
    </div>
    <!-- SHOPPING ASSISTANT (side tab) -->
    <div class="text-end ms-5">
    <%= link_to chats_path do %>
        <h1 class="fw-bold mb-0">Shopping assistant</h1>
        <p class="text-muted mb-0">Here to help!</p>
    <% end %>
    </div>
  </div>
</div>

<%= simple_form_for(@chat_prod_relation) do |form| %>
<%= form.select(:product_ids, @products.collect {|p| [ p.name, p.id ] },
                                                   { :prompt => "Please select"},
                                                   { :multiple => true, :size => 5  }) %>
<%= button_to "New Chat",  chats_path %>



